################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CollectionViewHorizontal/bin/Debug
/CollectionViewHorizontal/obj
/bin/Debug/net8.0-android
/obj
